@model Laboratorio.Models.ViewModels.TecnicoViewModel
@{
    ViewBag.Title = "Nuevo";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Nuevo","Tecnico", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">

        </div>


    </div>

}

